.heading {
  text-align: center;
  margin: 50px 0;
}

.publicProfileLink {
  display: block;
  width: max-content;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
}

.publicProfileLink:hover,
.publicProfileLink:focus {
  color: rgb(168, 29, 168);
  outline: none;
}

.form {
  max-width: 800px;
  margin: 40px auto;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.formHeading {
  font-family: sans-serif;
  text-align: center;
  margin: 30px 0;
}

.loading,
.error {
  font-size: 18px;
  /* text-align: center; */
}

.error {
  list-style: none;
  color: rgba(255, 0, 0, 0.7);
}

.fieldContainer {
  display: flex;
  align-items: center;
  margin: 35px 0;
}

.fieldContainer > label {
  flex: 1;
  font-family: sans-serif;
  font-size: 18px;
  text-align: right;
  padding-right: 15px;
}

.fieldContainer > input {
  flex: 2;
  padding: 10px 10px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

.fieldContainer > input:focus {
  background-color: transparent;
  border: 1px solid rgb(0, 153, 255);
  outline: none;
}

.buttonContainer {
  padding: 10px;
  background-color: rgba(0, 153, 255, 0.1);
  display: flex;
  justify-content: right;
  align-items: start;
}

.buttonContainer > button {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 202, 216);
  padding: 5px 20px;
  margin-left: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.buttonContainer > button:hover,
.buttonContainer > button:focus {
  background-color: rgb(24, 240, 255);
  outline: none;
}

.deleteButton {
  display: block;
  margin: 50px auto;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgb(104, 0, 0);
  padding: 5px 10px;
  border: 2px solid rgb(77, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: rgb(128, 0, 0);
  outline: none;
}

.confirmMessage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 50px auto;
  max-width: max-content;
  font-size: 24px;
  text-align: center;
}

.cancelButton,
.confirmButton {
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.cancelButton {
  background-color: rgb(80, 80, 80);
  border: 1px solid rgb(43, 43, 43);
}

.cancelButton:hover,
.cancelButton:focus {
  background-color: rgb(95, 95, 95);
  outline: none;
}

.confirmButton {
  margin-left: 8px;
  background-color: rgb(104, 0, 0);
  border: 1px solid rgb(77, 0, 0);
}

.confirmButton:hover,
.confirmButton:focus {
  background-color: rgb(124, 0, 0);
  outline: none;
}
