.header {
  text-align: center;
  margin: 50px 0;
  font-size: 50px;
}

.previewContainer {
  max-width: 1400px;
  margin: 50px auto;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 48px;
  justify-content: center;
}
